body {
    margin: 0;
    padding: 0;
    background: url('WhatsApp\ Image\ 2025-02-11\ at\ 12.01.52_406f2fac.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a.logo {
    font-size: 1.5em;
}

nav ul li a.logo .foreverN {
    color: purple;
}

nav ul li a.logo .blogN {
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-icon {
    font-size: 1.5em;
}

.spacer {
    flex-grow: 1;
}

.spacer-large {
    flex-grow: -1;
}

.search-bar {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
}

h1 {
    text-align: justify;
    margin-left: 100px;
    font-size: 8em;
    margin-top: 75px;
    margin-bottom: 20px; /* Menambahkan margin bawah untuk mendekatkan ke paragraf */
    font-family: 'Times New Roman', serif; 
}

.foreverH {
    color: rgb(0, 0, 0);
}

.blogH {
    color: white;
}

.description {
    font-size: 1.5em; 
    text-align: justify;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 20px; /* Menambahkan margin bawah untuk mendekatkan ke ujung halaman */
    line-height: 1.6; /* Menambahkan jarak antar baris */
}

.wrapper h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 5px;
    color: white;
}

.wrapper h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 5px;
    color: white;
}

.wrapper .team_box {
    width: 70%; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.3); 
    padding: 20px;
    border-radius: 10px;
}

.wrapper .team_box .profile1 {
    width: 200px; 
    height: auto;
    margin: 20px;
    text-align: center;
}

.wrapper .team_box .profile1 img {
    width: 160px; 
    height: 160px;
    border-radius: 50%;
}

.wrapper .team_box .profile1 img:hover {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 black, 0 0 10px 4px black;
    color: black;
}

.wrapper .team_box .profile1 .team_abouttext .name {
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.wrapper .team_box .profile1 .team_abouttext .nim {
    color: black;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 16px; 
}

.wrapper .team_box .profile1 .team_abouttext .team_social {
    display: flex;
    justify-content: center;
}

.wrapper .team_box .profile1 .team_abouttext .team_social i {
    margin: 10px 5px 5px 5px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    font-size: 20px; 
}

.wrapper .team_box .profile1 .team_abouttext .team_social i:hover {
    color: white;
}
